#canvas {
  width: 90vw;
  height: 85vh;
  border: 1px solid black;
  position: relative;
  background-color: rgb(246, 246, 246);
}

.grid, .form-grid {
  display: grid;
  align-items: center;
}

.form-grid {
  grid-template-columns: 1fr 2fr;
  width: calc(100% - 20px);
  min-height: 60px;
  text-align: left;
  font-size: 0.7em;
  gap: 10px;
  padding: 10px 10px;
}

.form-grid label {
  font-weight: bold;
  margin-right: 10px;
}

.form-element {
  margin-bottom: 1em;
}

.container, .container-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-vertical {
  flex-direction: column;
}

.node-container {
  padding: 10px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.node {
  position: absolute;
  width: 250px;
  height: fit-content;
  background-color: #fcfa8a;
  border-radius: 5px;
}

.node:hover, .default-node:hover {
  transition: border 0.1s ease-out;
}

.node:hover {
  border: 2px solid #f5c75b;
}

.default-node {
  background-color: #e9e7e7;
}

.default-node:hover {
  border: 2px solid #aeacac;
}

.option-node {
  background-color: #dcf4b2;
}

.option-node:hover {
  border: 2px solid #a1dd73;
}


#create-node-container {
  background-color: lightblue;
  width: 25vw;
  max-width: 300px;
}

.toolbar {
  padding: 10px 10px;
}

.reset-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.popover {
  position: absolute;
  width: 100px;
  height: 100px;
}

.popover-anchor, .tooltip-anchor {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 5px;
  left: 45px;
  width: fit-content;
  max-width: 120px;
  background-color: rgb(53, 56, 55);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 0.5em;
  z-index: 1;
}

.hide {
  display: none;
}