#canvas {
  width: 90vw;
  height: 85vh;
  border: 1px solid black;
  position: relative;
  overflow: auto;
  background-color: rgb(246, 246, 246);
}

#canvas-container {
  height: 1000px;
  width: 5000px;
  position: relative;
}

.grid, .form-grid {
  display: grid;
  align-items: center;
}

.form-grid {
  grid-template-columns: 1fr 2fr;
  width: calc(100% - 20px);
  min-height: 60px;
  text-align: left;
  font-size: 0.7em;
  gap: 10px;
  padding: 10px 10px;
}

.form-grid label {
  font-weight: bold;
  margin-right: 10px;
}

.form-element {
  margin-bottom: 1em;
}

.container, .container-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-vertical {
  flex-direction: column;
}

.handle {
  width: fit-content;
}

.toolbar {
  top: 0;
  left: 0;
  padding: 10px 10px;
  width: fit-content
}

.reset-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.popover {
  position: absolute;
  width: 100px;
  height: 100px;
}

.popover-anchor, .tooltip-anchor {
  position: sticky;
}

.tooltip {
  position: absolute;
  top: 5px;
  left: 45px;
  width: fit-content;
  max-width: 120px;
  background-color: rgb(53, 56, 55);
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 0.5em;
  z-index: 1;
}

.menu {
  width: 100px;
  list-style: none;
  position: absolute;
  top: -10px;
  right: -100px;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 20px;
}

.menu svg {
  font-size: 0.8em;
}
.menu li {
  padding: 0px 5px;
  background-color: white;
}

.menu li:hover {
  background-color: rgb(239, 239, 239);
}

.hide {
  display: none;
}